@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
/* body,html {
background-color:#f2f2f2;
} */

:root {
  --azul-oscuro: #05387e;
  --azul-claro: #187cb8;
  --verde-claro: #2dc29d;
  --verde-oscuro: #26a64d;
  --naranja: #fb632c;
  --color-claro: #f9f3e9;
}

img {
  max-width: 100%;
  height: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.font-bold {
  font-weight: 700;
}
.azul-oscuro {
  color: var(--azul-oscuro);
}
.azul-oscuro-bg {
  background-color: var(--azul-oscuro);
}

.azul-claro {
  color: var(--azul-claro);
}

.verde-claro {
  color: var(--verde-claro);
}

.verde-oscuro {
  color: var(--verde-oscuro);
}

.naranja {
  color: var(--naranja);
}

label {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}
a:hover,
small:hover {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.burguer {
  width: 50px;
  height: 50px;
  background-color: var(--verde-claro);
  border-radius: 50%;
}

.burguer div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  position: relative;
  top: 12px;
  left: 13px;
}

.navbar {
  /* background-color:var(--azul-oscuro) !important; */
}
.navbar-toggler {
  border: none !important;
}

#loginContainer {
  height: 100vh;
}

#loginLeft {
  background-image: url('./img/blucircleLogin.png');
  background-repeat: no-repeat;
  background-position: left/center;
  background-size: contain;
  background-color: #f8f8f8;
  /* min-height: 100vh; */
  /* height:100%; */
}

#loginLeft h1 {
  margin-top: 100px;
  font-size: 60px;
  position: relative;
  letter-spacing: -2.64px;
}

#loginLeft form {
  margin-top: 100px;
  position: relative;
}

#loginLeft input {
  border: 0.3px solid var(--azul-claro) !important;
}

.or::before {
  content: '____ ';
  position: relative;
  top: -6px;
  right: 5px;
}

.or::after {
  content: '____ ';
  position: relative;
  top: -6px;
  left: 10px;
}

#loginRight {
  background-image: url('./img/loginRightElement.png');
  background-repeat: no-repeat;
  background-position: right;
}

#loginRight {
  padding: 80px 0;
  overflow: hidden;
}
#loginRight h1 {
  font-size: 50px;
  letter-spacing: -1.1px;
}
#loginRight svg {
  font-size: 25px;
  color: var(--verde-claro);
}

.successLogin {
  background-image: url('./img/semiCirculoClaroGrande.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 100vh;
}

#signupHeader {
  height: 100vh;
  background-image: url('./img/signup-bg-element.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signupTopTitle {
  background-image: url('./img/signuptopcircleblue.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  height: 480px;
}

.signupTopTitle h1 {
  font-size: 90px;
  letter-spacing: -2.64px;
  margin-top: 100px;
}

#signupForm {
  position: relative;
  top: -160px;
}

/* 
LANDING NAV */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--azul-oscuro);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  background-image: url('./img/nav-bg-element.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#hero {
  position: relative;
  padding-top: 150px;
  padding-bottom:300px;
  background-color: var(--azul-oscuro);
  min-height: 80vh;
  font-size: 22px;
}

#hero h1 {
  font-size: 50px;
  font-weight: 800;
}

.getAccessRight {
  /* padding:0 !important;
  margin:0 !important; */
}

#getAccess {
  font-size: 20px;
  line-height: 30px;
}
#getAccess h3 {
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
}
#getAccess svg {
  position: relative;
  top: -5px;
}

#fullControl p {
  line-height: 30px;
}

#fullControl h3 {
  font-size: 50px;
  font-weight: 800;
}

#presentationTaxes h3 {
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
}

#dashboardImg {
  background-color: var(--color-claro);
}

#trust h3 {
  font-size: 80px;
  font-weight: 800;
  line-height: 85px;
  color: var(--azul-oscuro);
}

#trust .card {
  background-color: #f6f9ff;
}

#faq {
  background-color: var(--color-claro);
}

#faq h3 {
  font-size: 82px;
  font-weight: 800;
}
#faq .card {
  margin-bottom: 5px;
  border: none;
  color: #5d5d5d;
}

#faq a {
  text-decoration: none;
  color: #5d5d5d;
}

.card-header {
  border: none !important;
}

.myButton {
  background-color: var(--azul-oscuro);
  border-radius: 28px;
  display: inline;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
}
.myButton:hover {
  background-color: var(--azul-oscuro);
}
.myButton:active {
  position: relative;
  top: 1px;
}

#footer {
  background-color: var(--azul-oscuro);
}

.input-group-append {
  margin-left: 5px;
}

#footer input {
  border-radius: 4px;
}

#footer .input-group-append .input-group-text {
  border-radius: 3px !important;
}
/* .newsletter {
  border-left:1px solid white;
  border-bottom:1px solid white;
  } */

.newsletterTop {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
.newsletterBottom {
  border-left: 1px solid white;
}
#footer .input-group-append {
  margin-left: 5px;
}
#footer svg {
  width: 32px;
  height: auto;
  color: white;
}

.footerTop2 a {
  display: block;
  color: white;
  margin-bottom: 8px;
}

.footerBottom2 {
  border-left: 1px solid var(--azul-oscuro);
  border-right: 1px solid var(--azul-oscuro);
}

.footerBottom {
  background-color: var(--azul-claro);
  color: var(--azul-oscuro);
  font-size: 14px;
  text-align: center;
}

/* FIRST STEP PAGE */
.firstStepLeft {
  background-image: url('./img/firstStepLeftImgBg.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto;
  min-height: 100vh;
  min-height: 100%;
  padding: 101px 0 30px 96px;
}

.firstStepLeft button {
  padding: 15px 100px !important;
  margin-top: 41px;
}

#firstStep h3 {
  font-size: 82px;
  font-weight: 800;
  line-height: 72px;
  padding-left: 10px;
  text-align: left;
}

#firstStep p {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 71px;
}

#firstStep label {
  font-size: 20px;
  margin-left: 53px;
  position: relative;
  top: -5px;
}

.firstStepRight {
  background-color: var(--color-claro);
  min-height: 100vh;
  min-height: 100%;
  background-image: url('./img/fistStepRightImgBg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.firstStepRight p {
  margin-top: 265px !important;
  font-size: 28px !important;
  color: var(--azul-oscuro);
}

/* NEARLY THERE PAGE */
.NearlyThereLeft {
  background-image: url('./img/firstStepLeftImgBg.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto;
  min-height: 100vh;
  min-height: 100%;
  padding: 101px 0 30px 96px;
}

.firstStepLeft button {
  padding: 15px 100px !important;
  margin-top: 41px;
}

.NearlyThereLeft h3 {
  font-size: 82px;
  font-weight: 800;
  line-height: 72px;
  padding-left: 10px;
  text-align: left;
}

.NearlyThereLeft p {
  margin-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 50px;
}

.NearlyThereLeft button {
  padding: 15px 80px;
  font-size: 14px;
}
.nearlyThereButtonRight {
  border: 1px solid var(--azul-oscuro) !important;
  transition: 1s ease-in-out;
}

.nearlyThereButtonRight:hover {
  border: 1px solid var(--azul-oscuro) !important;
  background-color: var(--azul-oscuro);
  color: white !important;
}

.NearlyThereRight {
  background-color: var(--color-claro);
  min-height: 100vh;
  min-height: 100%;
  background-image: url('./img/fistStepRightImgBg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.NearlyThereRight p {
  margin-top: 265px !important;
  font-size: 28px !important;
  color: var(--azul-oscuro);
}

/* READY PAGE */
.readyLeft {
  color: var(--azul-oscuro);
  font-size: 20px;
}

.readyLeft h3 {
  padding-top: 101px;
  font-weight: 800;
  font-size: 82px;
  color: var(--azul-claro);
}
.readyLeft h3 span {
  color: var(--azul-oscuro);
}

.readyRight {
  background-color: var(--color-claro);
  min-height: 100vh;
  height: 100%;
  background-image: url('./img/fistStepRightImgBg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.readyRight p {
  margin-top: 161px;
  font-size: 28px;
  margin-left: 85px;
  letter-spacing: 2.8;
  text-align: left;
  color: var(--azul-oscuro);
}

.readyCard p {
  font-size: 14px;
  color: #656565;
}
.readyCard button {
  font-size: 14px;
}
.readyCard h4 {
  font-size: 30px;
  font-weight: 800;
}

.readyCardButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.readyCardUploadBtn {
  background-color: var(--azul-oscuro) !important;
  color:white;
padding:5px 20px;
}
.readyCardPlansBtn {
  background-color: var(--verde-claro) !important;
  border: none !important;
  color:white;
  padding:5px 20px;
}
.readyCardKeepBtn {
  background-color: var(--naranja) !important;
  border: none !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

#uploadInvoiceCard {
  background-image: url('./img/readyCardBlueElement.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: 130%;
}

#seeThePlansCard {
  background-image: url('./img/readyCardGreenElement.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: 130%;
}

#keepNavigatingCard {
  background-image: url('./img/readyCardClaroElement.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: 130%;
}

/* DASHBOARDPAGE */

#sidenav {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: white;
  height: 100%;
  min-height: 100vh;
}

.dashboardNav a {
  display: block;
  color: black;
  padding: 16px 55px 16px;
  text-decoration: none;
}

#dashboardContainer {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}

.dashboardBalance h2 {
  font-weight: 800;
  color: var(--azul-oscuro);
}

.dashboardTop .col-md-8 {
  padding-left: 0 !important;
}

.dashboardTop h1 {
  font-size: 54.5px;
  font-weight: 800;
  padding-left: 0 !important;
  color: var(--azul-oscuro);
}
.dashboardNav a.active {
  background-color: #f2f2f2;
  color: var(--azul-oscuro);
}

/* Links on mouse-over */
.dashboardNav a:hover:not(.active) {
  background-color: #f4f4f4;
  color: var(--azul-oscuro);
}

.dashboardBalance {
  background-color: white;
  color: #c1c1c1;
  font-weight: 800;
  font-size: 18px;
}

.accountBtn {
  background-color: var(--azul-oscuro);
  border: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}

.salesInvoicesBtn {
  background-color: var(--verde-oscuro);
  border: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}
.yourTaxesBtn {
  background-color: var(--verde-claro);
  border: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}

.dashboardCreateInvoice,
.salesInvoices {
  background-color: white;
}

.dashboardCreateInvoice span {
  background-color: var(--azul-claro);
  padding: 8px 15px;
  display: inline-block;
  border-radius: 50%;
  color: var(--azul-oscuro);
  font-size: 14px;
  margin-right: 10px;
}

#salesInvoices .title p {
  position: relative;
  top: 7px;
  padding-left: 10px;
  border-left: 1px solid #888;
  margin-left: 10px;
}

.salesInvoices  p {
  position: relative;
  top: 10px;  
  margin-left: 10px;
}

/* CREATE INVOICE PAGE */

.contactDetails {
  background-color:white;
}

.invoiceDetails {
  background-color:white;
}

.contactDetails input, .invoiceDetails input,.contactDetails select, .invoiceDetails select {
 border-top:none;
 border-left:none;
 border-right:none;
 border-radius:0;
}

.contactDetails label, .invoiceDetails label {
color:black;

font-size:15px;}

.contactDetails h3, .invoiceDetails h3  {
  color:var(--azul-oscuro)
}
#fileupload {
  background-color:red;

}

input[type="file"] {
  display:none;
}

.saveInvoicesBtn {
  background-color: var(--azul-oscuro);
  border: none;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}


/* PRICE TABLE FRONT */

#priceTableSlideshow {
  /* position:relative;
  top:-250px; */
  margin-top:-200px;
  }

#priceTableSlideshow section {
  color: #7a90ff;
  padding: 2em 0 8em;
  /* min-height: 80vh; */
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  color: var(--azul-oscuro);
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 20px 20px 10px 10px;
  margin: 1em;
}



@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
      margin: 1em -0.5em;
  }
  .pricing-palden .pricing__item--featured {
      margin: 0;
      z-index: 10;
      box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: url('./img/tableBgBlue.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4em 0 4em;
  position: relative;
}

.pricing-palden .priceBgGreen {
  border-radius: 10px 10px 0 0;
  background: url('./img/tableBgGreen.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4em 0 4em;
  position: relative;
  color:var(--azul-oscuro) !important;
}

.pricing-palden .priceBgOrange {
  border-radius: 10px 10px 0 0;
  background: url('./img/tableBgOrange.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 4em 0 4em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
 
}
.greenSvg svg {
  color:var(--verde-oscuro);
}

.blueSvg svg {
  color:var(--azul-oscuro);
}

.orangeSvg svg {
  color:var(--naranja);
}

.priceGreenBtn {

  background-color:var(--verde-oscuro);
  transition: 1s ease-in-out;
}

.priceGreenBtn:hover {

  background-color:var(--verde-claro);
}

.priceBlueBtn {
  transition: 1s ease-in-out;
  background-color:var(--azul-oscuro);
}
.priceBlueBtn:hover {

  background-color:var(--azul-claro) !important;
}
.priceOrangeBtn {
  transition: 1s ease-in-out;
  background-color:var(--naranja);
}
.priceOrangeBtn:hover {

  background-color:var(--color-claro);
}

.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background: linear-gradient(135deg,#fd7d57,#f55d59);
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}



/* MEDIA QUERIES */

@media (max-width: 375px) {
  #signupHeader {
    background-image: none;
  }

  #signupForm {
    background-image: none !important;
  }
  #loginLeft h1 {
    margin-top: 0px;
    font-size: 50px;
  }

  #loginLeft form {
    /* margin-top:150px; */
    position: relative;
  }

  .signupTopTitle h1 {
    /* display:none; */
    margin-top: 80px;
    font-size: 40px;
  }

  #loginLeft p {
    font-size: 11px;
  }

  .firstStepLeft h3 {
    font-size: 54px !important;
  }

  .readyLeft h3 {
    padding-top: 101px;
    font-weight: 800;
    font-size: 54.5px;
    color: var(--azul-claro);
  }

  .readyCard h4 {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 800;
    line-height: 32px;
  }

  #uploadInvoiceCard {
    background-image: url('./img/readyCardBlueElement.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: -530%;
    background-size: cover;
  }

  .readyCardButtonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
  }

  .readyCardUploadBtn {
    background-color: var(--azul-oscuro) !important;
    padding: 20px 20px !important;
  }
  .readyCardPlansBtn {
    background-color: var(--verde-claro) !important;
    border: none !important;
    padding: 20px 20px !important;
  }
  .readyCardKeepBtn {
    background-color: var(--naranja) !important;
    border: none !important;
    padding: 20px 40px !important;
  }
}

/* SM */
@media (min-width: 576px) {
}
/* SM */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #signupHeader {
    background-image: none;
  }

  #loginLeft h1 {
    /* display:none; */
    margin-top: 50px;
    font-size: 40px;
  }
  #form {
    position: relative;
    top: -10px;
  }
  .signupTopTitle {
    height: 100px;
  }

  .signupTopTitle h1 {
    /* display:none; */
    margin-top: 100px;
    font-size: 40px;
  }

  #loginLeft p,
  .signupTopTitle {
    font-size: 15px;
  }

  #loginLeft form {
    margin-top: 100px;
  }

  #loginRight h1 {
    font-size: 25px;
    letter-spacing: -1.1px;
  }

  .firstStepLeft h3 {
    font-size: 54px !important;
  }
}

@media (max-width: 992px) {
}
@media screen and (min-width: 1440px) {
  #loginLeft h1 {
    margin-top: 100px;
    font-size: 90px;
  }
  #loginLeft form {
    margin-top: 190px;
    position: relative;
  }
}

/* MEDIA QUERIES */
